.home-bg {
    position: relative;
    height: 100%;
    background-image: linear-gradient(to bottom right, #90ccf4 , rgb(223, 250, 71));
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 700px;
    text-align: center;
}

.home-row {
    display: flex;
    flex-direction: row;
    text-align: center;
    height: 43rem;
}

.home-col {
    display: flex;
    flex-direction: column;
    flex: 50%;
    color: rgb(85, 41, 12);
}

.home-title {
    padding-top: 12rem;
    font-weight: 900;
    font-size: 5rem;
}

.home-title-2 {
    padding-top: 1rem;
    font-weight: 800;
    font-size: 3rem;
}

.home-content {
    padding-top: 1rem;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2rem;
}